<h1 class="has-text-centered">
  Understanding the History of Mass Incarceration
</h1>

<h2 class="has-text-centered">
Dr. John Williams, Professor of American History
Princeton University
 <i>Feature Article in the Economist</i>
</h2>

<p>
  According to
    <reading-keyword
    text="Bureau of Justice Statistics,"
    definition="The Bureau of Justice Statistics is the principal federal agency responsible for measuring crime at the federal, state, and local levels.">
  </reading-keyword>,
  in 2018 there were over 2.3 million people in U.S. prisons. This corresponds to 698 people being incarcerated out of every 100,000 citizens, reflecting 1 out of every 143 U.S. adults.

</p> 

<p>
Much of the growth in the prison population has occurred over the last 40 years, with those incarcerated for drug-related crimes increasing from 40,000 in 1980 to over 400,000 in 2017.  This increase is attributable to the U.S. government’s War on Drugs, which created mandatory minimums for drug-related crimes.  
  <reading-keyword
    text="Mandatory minimums"
    definition="Sentencing laws that force judges to assign predetermined sentences (e.g., years in prison) for certain crimes">
  </reading-keyword>,
require judges to assign long prison sentences for even minor drug-related crimes.  Today, 16% of arrests are for drug-related crimes and the majority of these (86.4%) are only for drug possession
<reading-keyword
    text="(Drug Policy Alliance, 2016)."
    definition="The Drug Policy Alliance (DPA) is a New York City-based non-profit, founded by Dr. Arnold Terbach, a professor at American University, and Kevin Zeese, an attorney working to reform marijuana laws, with the goal of legalizing all illicit drug use.">
  </reading-keyword>,
</p>

<p>
  A proposed solution for the high prison population is to increase the use of probation and parole. 
  <reading-keyword
    text="Probation"
    definition="Court-imposed criminal sentence to community supervision, in lieu of jail time, sometimes accompanied by additional fines or requirements">
  </reading-keyword>,
is a period of community supervision ordered by courts as a punishment, in lieu of jail time, for a criminal offense.  
</p>

<p>
  <reading-keyword
    text="Parole"
    definition="Release of a convicted prisoner temporarily or permanently before the completion of their prison term">
  </reading-keyword>,
is a period of community supervision following early release from prison for good behavior.  Together, these are often called “community corrections.” Indeed, according to the 
  <reading-keyword
    text="Prison Policy Initiative (2019),"
    definition="The Prison Policy Initiative (PPI) is a non-profit, criminal justice-focused public policy think tank based in Massachusetts.">
  </reading-keyword>,
  today twice as many people are supervised on parole or probation as are incarcerated. 
  <reading-keyword
    text="Community corrections"
    definition="Including parole and probation">
  </reading-keyword>,
  allow individuals to continue to work and live in their communities.  Moreover, parole saves the government money. The average cost per parolee is $1,547 a year or $4.24 per day, whereas the average annual per capita cost for imprisonment is $14,603 or $40 a day.
</p>
