<h1 class="has-text-centered">
  Peer Social Status
</h1>

<h3 class="has-text-centered">
 Excerpt from <i>Introduction to Developmental Psychology</i> textbook.
</h3>

<p>
  Children’s social status among their peers is an important part of their experiences in school.  
  Children have different peer 
   <reading-keyword
    text="social statuses"
    definition="Social Status: students' relative social position in their pper group">
  </reading-keyword>.  
  Peer social status is typically determined by children’s demonstration of both 
  <reading-keyword
    text="socially appropriate"
    definition="Socially Appropriate Behaviors: behaviors that are prosocial and that promote functioning in the peer group.  This includes behaviors like caring, sharing, and leadership skills.">
  </reading-keyword>
  and
    <reading-keyword
    text="aggressive"
    definition="Aggressive Behaviors: behaviors that are antisocial and intended to interrupt functioning in the peer group">
  </reading-keyword>
  beahviors. Two types of aggressive behaviors define children’s peer social status.  
  Overt aggression, such as fighting, refers to behaviors intending to cause physical harm to another.  
  Relational aggression refers to behaviors specifically intended to damage another child’s friendships, social status, or feelings of inclusion in a peer group.  
  Such behaviors include gossiping, rumor spreading, and excluding people as a way to control them, as well as cyberbullying.  
  In childhood and adolescence, boys are more likely to use overt aggression, whereas girls are more likely to display relational aggression, especially during middle school.
</p>

<p>
Children and adolescents have been categorized into several peer statuses based on their demonstration of socially appropriate and aggressive behaviors with peers.  These peer social statuses are popular, rejected, and neglected. 
</p>

<p>
Using different approaches, researchers have determined that there are actually two separate types of popularity.  
  The first type is 
  <reading-keyword
    text="sociometric popularity"
    definition="Sociometric Popularity: children being nomiated as liked or disliked within their peer group.  Prosocial behaviors, like caring and sharing, are associated with students being judged as sociometrically popular in their peer group.">
  </reading-keyword>. 
  Sociometric popularity is determined by students 
   <reading-keyword
    text="nominating"
    definition="Nominations: a research approach for examining peer groups, wherein students are asked to write their most liked and disliked peers.  Students' nominations as most liked or disliked are used to establish their social status.">
  </reading-keyword>
  peers whom they most like and most dislike within their classroom or grade.  
  In
    <reading-keyword
    text="perceived popularity"
    definition="Perceived Popularity: children being nominated as most or least cool within their peer group">
  </reading-keyword>, 
  students nominate peers who they consider to be the most popular or “cool” and those who they consider to be the least popular or least “cool.”  
  Both sociometric and perceived popularity include characteristics of positive behaviors, such as being cooperative or displaying socially appropriate behaviors.  
  Unlike individuals with sociometric popularity, those with perceived popularity sometimes receive high numbers of nominations both for being liked and for being disliked—meaning that their popularity is controversial. 
</p>

<p>
  The main difference between these two types of popularity, however, appears to be in whether these peer status positions include displays of aggression. Sociometric popularity is not related to aggressive behaviors, whereas individuals with high levels of perceived popularity are likely to show higher levels of overt or relational aggression. 
</p>

<p>
Not all individuals who display relational or overt aggression are perceived as popular.  
  Individuals who display aggressive behaviors but do not display the positive behaviors of cooperation and social skills, like leadership, are typically considered 
    <reading-keyword
    text="rejected youth"
    definition="Rejected Youth: children nominated as least liked within their peer group.">
  </reading-keyword>.  
  Rejected youth tend to be less well-liked by peers, including those within their own peer clique, and are members of smaller peer 
    <reading-keyword
    text="cliques"
    definition="Clique: small group of peers that is small and limited in the number of non-clique social connections that members have">
  </reading-keyword>. 
  Many consider a pattern of aggressive and coercive behaviors, displayed over time, such as those displayed by rejected youth, to be bullying. 
</p>

<p>
The final category of peer status includes those individuals who are neither popular nor aggressive but rather are considered
   <reading-keyword
    text="neglected youth"
    definition="Neglected youth: children who are neither nomianted as liked or disliked by their peers">
  </reading-keyword>. 
  Individuals who are considered neglected typically are not nominated as liked or disliked by their peers and do not show high rates of overt or relational aggression. 
  Because little research evidence is available concerning this category of peer status, less is known about the characteristics of these individuals.
</p>

<p>
  Sociometric status consistently has been associated with school adjustment and academic performance. 
  Compared with students of 
   <reading-keyword
    text="average sociometric status"
    definition="Average Sociometric Status: the majority of students are typically neither nominated as most liked or most disliked, they are considered average">
  </reading-keyword>,
sociometrically popular and sociometrically neglected students earn significantly higher grades, while those identified as sociometrically rejected earning significantly lower grades. 
</p>

