<h1 class="has-text-centered">
The Urban Housing is a Crisis of Class and Race
</h1>

<h4 class="has-text-centered">
  <b>Author:</b> Dr. Miller Chaney, <i>Professor of Public Policy</i>
</h4>

<h4 class="has-text-centered">
  <b>Source:</b> Feature article in <i>Time Magazine</i>
</h4>

<p>
One factor contributing to the urban housing crisis is
   <reading-keyword
    text="unbalanced development"
    definition="Unbalanced Development refers to cities' inequitable allocation to resources to different areas. While some areas received continued investment, some areas do not even receive basic resources.  This is why cities' spending on development must be understood hyper-locally">
  </reading-keyword>
  between localities.  Cities shower some neighborhoods with resources, while other neighborhoods are neglected, resulting in vast 
    <reading-keyword
    text="incongruities"
    definition="inequities or imbalances">
  </reading-keyword> in housing desirability across localities, only a few miles apart. For instance, in 2009, the Chicago Transit Authority (CTA) undertook a $14 billion renovation of its public transit system. 
  The result was “the loop” that connected wealthy and predominantly White neighborhoods in Chicago’s downtown to a variety of 
    <reading-keyword
    text="cosmopolitain"
    definition="sophisticated or urban"> 
        </reading-keyword> destinations. Outside of “the loop,” 
      Chicago’s more impoverished South Side received no transportation improvements, because the expenditures were judged 
          <reading-keyword
    text="exorbinant"
    definition="excessive"> 
          </reading-keyword> relative to the benefits of the new construction. This caused more impoverished neighborhoods on the South Side to miss out on transportation improvements and to be locked out of the 
              <reading-keyword
    text="pecuniary"
    definition="financial">
  </reading-keyword> opportunities available within “the loop.”
            </p>
      
 <p>
   Such unbalanced development between adjacent localities, is associated with striking disparities in the 
      <reading-keyword
    text="socioeconomic status"
    definition="Socioeconomic Status refers to individuals' financial or capital and social or cultural capital resources. For example, while teachers do not earn much more, indicating limited financial capital, they are college educated, reflecting high social capital.">
  </reading-keyword>
      </p> and demographic composition of individuals living in more-developed vis-à-vis less-developed areas. Although people prefer to live in more developed areas, housing costs in such areas are increasingly exorbitant, causing a crisis of affordability. This is particularly onerous for people of color and people who do not have a college degree. 
      Neighborhoods where rates of 
         <reading-keyword
    text="underdevelopment"
    definition="Underdevelopment refers to lost opportunities by cities to invest in housing stock and other public amenities, like parks">
  </reading-keyword> were above the median were 35.75% Black and 31.45% Latino. As a contrast, neighborhoods with lower rates of underdevelopment were only 14.81% Black and 23.13% Latino. Moreover, while 17.38% of residents in underdeveloped areas had earned a college degree, only 34.87% of residents in more developed areas had done so.
      </p>
  
  <p>
This type of unbalanced and inequitable development and distribution of resources can be solved by adopting a balanced approach to urban development. Adopting a policy of balanced development would direct resources to underserved areas, where they are most needed, 
        <reading-keyword
    text="revifying"
    definition="reviving or invigorating">
  </reading-keyword> communities through 
    <reading-keyword  
    text="redevelopment"
    definition="Redevelopment refers to the urban planning policy of developing neighborhoods, with an emphasis on environmental preservation through parks and other green spaces">
  </reading-keyword> Moreover, redeveloping these 
     <reading-keyword
      text="dilapidated"
    definition="worn out or run down">
  </reading-keyword> urban areas would ensure that even if displaced by 
         <reading-keyword
      text="gentrification"
    definition="Gentrification refers to the displacement of low income residents from their neighborhoods, particularly through the influx of wealthy residents and businesses tayloring to their preferences (e.g., organic markets rather than full-service grocery stores)">
  </reading-keyword> residents in less-developed areas would still have access to a
     <reading-keyword
      text="plenteous"
    definition="large or volumous">
  </reading-keyword> 
    supply of new/ housing in their neighborhoods. As such, pursuing a policy of balanced development constitutes a propitious solution to the urban housing crisis.
</p> 

