<h1 class="has-text-centered">
 U.S. is Unique in the World in terms of Mass Incarceration
</h1>

<h3 class="has-text-centered">
Dr. Sam Campbell, Professor of Criminology<br>
Dartmouth University<br>
 <i>Feature article in Foreign Policy Review</i>
</h3>

<p>
More people are incarcerated in the U.S. than anywhere else in the world. Country-by-country analyses found that the U.S. has less than 5% of the world’s population, but almost 25% of the world’s prisoners
  <reading-keyword
    text="[1]"
    definition="Analysis by The United Nations Office on Drugs and Crime (UNODC). UNODC is the UN office responsible for the global fight against illicit drugs and international crime">
  </reading-keyword>. 
</p>

<p>
In part, this is due to the “tough on crime” culture of criminal justice in the U.S., wherein individuals receive significantly longer sentences than elsewhere in the world.  On average, individuals convicted of committing fraud serve 10.9 months in jail in England, 30 months in Australia, and 44 months in the U.S..  Likewise, assault charges carry with them, on average, a 15.2 month sentence in England, a 20 month sentence in Australia, and a 60 month sentence in the U.S. 
   <reading-keyword
    text="[2]"
    definition="Statistics from a National Research Council (NRC) report. The NRC is the operating arm of the National Academies of Sciences, Engineering, and Medicine, providing research services to the federal government, the public, and the scientific community">
  </reading-keyword>.
 These differences in sentence length compound, leaving the U.S. with many more prisoners than elsewhere in the world.  
</p>

<p>
Parole, or community supervision for low risk offenders, has been proposed as the solution to the U.S.’s large prison population.  Although seemingly a compassionate policy, parole has become a major contributor to recidivism, or re-incarceration.  Because parole extends individuals’ experiences with the criminal justice system, those on parole are often sent back to prison for minor violations like missing curfew, associating with others convicted of a crime, or missing a meeting with their parole officer.  A 2016 study found that 4 out of 10 people incarcerated in the U.S. were on parole at the time of arrest, many for only technical violations
    <reading-keyword
    text="[3]"
    definition="Study from the Pew Charitable Trusts.  Pew Charitable Trusts is an independent, non-profit, non-governmental organization. Its stated mission is to serve the public interest by improving pulbic policy, informing the public, and invigorating civic life">
  </reading-keyword>.
 
</p> 
