<h1 class="has-text-centered">
 Parenting Practices
</h1>

<h4 class="has-text-centered">
Textbook excerpt from <i>Introduction to Developmental Psychology</i> textbook
</h4>

<p>
 <reading-keyword
    text="Parenting styles"
    definition="Parenting Styles: the emotional climate of the parent-child relationship or characteristics of  parenting that are stable over time">
  </reading-keyword>, 
 have an important influence on child and adolescent development. 
 Parenting styles, which then impact 
  <reading-keyword
    text="parenting practices"
    definition="Parenting Practices: parents' specific behaviors toward their children">
  </reading-keyword>, 
 typically include two broad dimensions: control and responsiveness. 
  <reading-keyword
    text="Control"
    definition="Control: parents' rule setting and enforcement of rules and limits to children's behavior">
  </reading-keyword> 
 or demandingness, refers to the age-appropriate limits, boundaries, and expectations that parents set for their children. 
 <reading-keyword
    text="Responsivness"
    definition="Responsivness: parents' emotional connectness to their children and consistantcy in meeting children's physical and emotional needs">
  </reading-keyword> 
 or nurturing, includes the affection, acceptance, and caring involved in parenting.  
 Responsive parenting includes accepting a child’s unique needs, perspectives, and abilities and taking these into account, such that parents are attuned to their childrens’ feelings.  
 In short, control describes the behavioral aspects of parenting, while responsiveness describes the emotional aspects. 
 Based on the levels of these two dimensions that parents exhibit, there are four main parenting styles.
</p>

<p>
 <reading-keyword
    text="Authoritative parenting"
    definition="Authoritative Parenting: a parneting style characterized by high parent control and high responsivness">
  </reading-keyword> 
 includes setting limits or having rules for children and adolescents and enforcing those rules.  Although authoritative parents set rules and boundaries, they also discuss and explain these to their children.  Authoritative parents also exhibit a high level of emotional connectedness with their children. This allows parents to be flexible in enforcing rules, when necessary. For example, parents may be less strict than usual when they understand that their child is having difficulty with peers at school or is upset about not making the cheerleading squad.
</p>

<p>
 <reading-keyword
    text="Authoritrain parenting"
    definition="Authoritarian Parenting: a parneting style characterized by high parent control and low responsivness">
  </reading-keyword> 
 reflects a parenting style that includes a high level of control in which limits are set and rules are enforced, yet emotional connectedness is lacking. Authoritarian parents may be viewed as “dictators” who are inflexible and unable to bend the rules to accommodate special or unusual circumstances. For example, a parent might punish a child for receiving a B on their report card, even when all of their other grades are As.
</p>

<p>
  <reading-keyword
    text="Permissive parenting"
    definition="Premissive Parenting: a parneting style characterized by low parental control and high responsivness">
  </reading-keyword> 
 involves limited parental control, with parents either not setting rules for behavior or not enforcing rules. However, permissive parents do have a close connection to their children, such that observers might refer to them as their children’s “friends,” rather than parents. For example, parents may show their affection by giving in to their child’s tantrums or they may ground their adolescent but not monitor whether or not the teenager is actually at home home.
</p>

<p>
<reading-keyword
    text="Uninvolved parenting"
    definition="Uninvolved Parenting: a parneting style characterized by low parental control and low responsivness">
  </reading-keyword> 
 refers to parents who are lacking in both control and responsiveness. Uninvolved parents typically are unaware of their child’s behavior, friends, struggles, or achievements. For example, a parent may not know what activities or events are happening at the child’s school or may be unable to name his or her child’s friends. These parents are sometimes referred to as neglectful. 
</p>

<p>
 These four parenting styles also differ in the types of 
 <reading-keyword
    text="expectations"
    definition="Parental Expectations: realistic beliefs that parents have about their children's future achievement">
  </reading-keyword> 
 that parents hold for their children, particularly with regard to academic achievement, as well as in the degree of 
   <reading-keyword
    text="autonomy support"
    definition="Autonomy Support: parents' valuing and providing their children with opportunities for independence and choice">
  </reading-keyword>
 that they provide.  While both authoritative and authoritarian parenting styles are associated with high levels of academic achievement, authoritative parents provide their children with a greater degree of autonomy support.  While supporting their children’s independence, authoritative parents, nevertheless, retain a close, emotional bond with their children, referred to as relatedness.  This may be why research consistently links authoritative parenting with positive outcomes. Children and adolescents with authoritative parents tend to have high levels of healthy adjustment and manifest few mental health issues or problem behaviors.
</p>



