<h1 class="has-text-centered">
Facts and Myths about Mass Incarceration in the United States
</h1>

<h3 class="has-text-centered">
Dr. Mark Miller, Professor of Public Policy<br>
University of Pennsylvania<br>
 <i>Feature article in the New Yorker</i>
</h3>

<p>
Among the most popular reforms proposed for mass incarceration has been to pardon those convicted of drug-related crimes.  But, the unfortunate reality is that those incarcerated for drug-related crimes represent only a minority, or 20%, of the prison population   
   <reading-keyword
    text="[1]"
    definition="Statistic compiled by the U.S. Department of Justice (DOJ). DOJ is a federal department in the executive branch responsible for the enforcement of the law and the administration of justice in the United States.">
  </reading-keyword>.
Moreover, only about half of these individuals, or 12% of U.S. prisoners, are non-violent drug offenders, meaning that such a policy would be insufficient to address the problem of mass incarceration.
</p>

<p>
Rather than pardoning individual offenders, reformers have increasingly argued for understanding mass incarceration as a cultural problem with the structure of our criminal justice system.  In the U.S., unlike in much of the rest of the world, the majority of prosecutors (86% of state attorney generals) and judges (87% of state court judges) are elected rather than appointed.  The need to stand for election has resulted in prosecutors and judges adopting “tough on crime” policies, favoring longer prison terms over community corrections 
  <reading-keyword
    text="[2]"
    definition="Analysis from the Harvard Law Review. The Harvard Law Review is a law journal published by an independent student group at Harvard Law School.">
  </reading-keyword>.
</p>

<p>
The election of prosecutors and judges affects not only those convicted of crimes, but the accused as well, through policies like cash bail.
  Although defendants are supposed to be innocent until proven guilty, cash bail requires anyone arrested for a crime to pay cash bail to stay out of jail, even prior to their being convicted of a crime.  In 2016, an investigation found the median felony bail to be $10,000 or the equivalent of 8 months’ income for a typical defendant, effectively making being poor a crime
   <reading-keyword
    text="[3]"
    definition="Statistics from the The Prison Policy Initiative (PPI). PPI is a non-profit, criminal justice-focused public policy think-tank based in Massachusetts.">
  </reading-keyword>.
</p>
