<h1 class="has-text-centered">
Text 3: Critical Thinking
</h1>

<p>
  Critical thinking includes the component skills of analyzing arguments, making inferences using
inductive or deductive reasoning, judging or evaluating, and making decisions or solving
problems. 
  Critical thinking has
  
    <reading-keyword
    text="three components."
    definition="Three components of critical thinking: The three main components of critical thinking include deductive reasoning, argumentation, and hypothesis testing.">
  </reading-keyword>,
  
Background knowledge is a necessary but not a sufficient condition for enabling
critical thought within a given subject. Critical thinking involves both cognitive skills and
dispositions. These dispositions, 
 
  <reading-keyword
    text="dispositions"
    definition="Dispositions: Attitudes or habits of mind.  Dispoisitions are also referred to as individual differences.">
  </reading-keyword>,
  
include openand fair-mindedness, inquisitiveness, flexibility, a propensity to seek reason, a desire to be wellinformed, and a respect for and willingness to entertain diverse viewpoints. There are both
general- and domain-specific aspects of critical thinking. Empirical research suggests that people
begin developing critical thinking competencies at a very young age. Although adults often
exhibit deficient reasoning, in theory all people can be taught to think critically. Instructors are
urged to provide
  
  <reading-keyword
    text="explicit instruction"
    definition="Explicit Instruction: Direct instruction or teacher provision of content.">
  </reading-keyword>,
  
  in critical thinking, to teach how to transfer to new contexts,
and to use cooperative or collaborative learning methods and constructivist approaches that place
students at the center of the learning process. In constructing assessments of critical thinking,
educators should use open-ended tasks, real-world or “authentic” problem contexts, and
ill-structured problems that require students to go beyond recalling or restating previously
learned information. Such tasks should have more than one defensible solution and embed
adequate collateral materials to support multiple perspectives. Finally, such assessment tasks
should make student reasoning visible by requiring students to provide evidence or logical
arguments in support of judgments, choices, claims, or assertions. 
  
  
  <reading-keyword
    text="Transfer"
    definition="Transfer: The application of skills and knowledge from one situation to another">
  </reading-keyword>,

  can be defined broadly as the influence of prior knowledge, skills, strategies, or principles on new learning. We should be careful not to assume that all transfer is positive transfer.
</p>

<p>
  <reading-keyword
    text="Low-road transfer"
    definition="Low-Road Transfer: Spontaneous, automatic transfer of highly practiced skills">
  </reading-keyword>,

  involves the “spontaneous, automatic transfer of highly practiced skills, with little need for reflective thinking” (Salomon & Perkins, 1989, p. 118). Low-road transfer results from extensive practice of a skill in a variety of contexts until it becomes flexible and developed to automaticity (Salomon & Perkins, 1989). Automaticity, Automaticity. The ability to respond accurately, quickly, and using few cognitive resources such as attention and strategies while performing a mental or physical skill, occurs when a person performs a skill very quickly, very accurately, and with little attention or other cognitive load. Developing automaticity of a skill allows a person not only to perform the skill without much thought but also to transfer the skill to other, similar situations. Reading and arithmetic are examples of automatic skills that transfer to many situations in and outside school because they have been extensively practiced in varied contexts.
</p>

<p>
  In high-road transfer, High-Road Transfer. Applying abstract knowledge learned in one context to a different situation, an individual purposely and consciously applies general knowledge, a strategy, or a principle learned in one situation to a different situation (Salomon & Perkins, 1989). For example, a child who has mastered a puzzle may approach a new and more challenging puzzle by first thinking of the strategies used with the original puzzle. Just as automaticity is the key characteristic of low-road transfer, mindful abstraction, Mindful Abstraction. A defining feature of high-road transfer in which information that is consciously and actively learned is retrieved and applied to a new situation, guided by one’s metacognition, is the defining feature of high-road transfer. Abstraction is the process of retrieving meaningful information (that has been consciously and actively learned rather than memorized) and applying it to a new learning context. Abstraction is mindful when it is guided by metacognition (our awareness, monitoring, and regulation of our thinking), allowing the learner to recognize transfer situations and apply abstract knowledge across contexts (Fuchs et al., 2003). In the puzzle example described, the child reflects on what he or she knows about puzzle solving and applies this knowledge to the new puzzle.
</p>

<p>
  The puzzle example illustrates a type of high-road transfer called problem-solving transfer, Problem-Solving Transfer. A type of high-road transfer involving recall of a general strategy or principle learned from solving one type of problem to solve another type of problem. in which we recall a general strategy or principle that we have learned from solving one type of problem and apply it to solve another type of problem. Analogical transfer, Analogical Transfer. An example of high-road transfer involving creating or using an existing analogy to aid in understanding a new concept, another example of high-road transfer, involves creating or using an existing analogy to aid in understanding a new concept, as when science teachers compare the orbit of an electron in an atom (new knowledge) to the orbit of a planet in the solar system (existing knowledge).
</p>

<p>
  High-road transfer can also be described in simple chronological terms. Forward-reaching transfer, Forward-Reaching Transfer. A principle or strategy is so well-learned or deeply understood that it becomes applicable in future learning situations. involves learning a principle or strategy so well that an individual selects it quickly and easily when it is needed in future situations. For example, a high school student who has developed a deep, conceptual understanding of geometry might easily think of ways he could use geometric principles in other classes, real-life situations, or future careers. Backward-reaching transfer, Backward-Reaching Transfer. Deliberately looking for knowledge learned in the past that could be useful in a current situation, in contrast, occurs when an individual deliberately looks for strategies or principles learned in the past to solve a current problem or task. A high school student building a birdhouse in a woodworking class might think back to last year’s geometry class for knowledge that could help him or her calculate the dimensions for the birdhouse.
</p>
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About

