<h1 class="has-text-centered">
The Injustice of Criminal Justice: Mass Incarceration in the United States
</h1>

<h3 class="has-text-centered">
Dr. Aaron Lewis, Professor of Sociology<br>
Cornell University<br>
 <i>Feature Article in the Atlantic Magazine</i>
</h3>

<p>
The mass incarceration crisis in the U.S. includes not only the size of the prison population, but also its demographic makeup.  Although Black and Latino people make up only 32% of the US population, they comprised 56% of all incarcerated people in 2015.  This disproportionately comes from over-policing, or intense surveillance of minoritized communities by police.  For example, while Black and White people use drugs at approximately the same rate, Black people constitute 36% of drug arrests and 46% of drug-related convictions, despite only constituting 12% of the population 
 
  <reading-keyword
    text="(The Sentencing Project, 2015)"
    definition="The Sentencing Project is a Washington D.C. based research and advocacy organization, working to reduce incarceration and racial disparities in the criminal justice system in the Unted States.">
  </reading-keyword>.
</p>

<p>
  The punishment-oriented culture of the U.S. also contributes to mass incarceration, wherein we incarcerate individuals for even minor crimes.  Indeed, the 
   <reading-keyword
    text="Equal Justice Initiative"
    definition="The Equal Justice Initiative (EJI) is an Alabama-based non-profit that provides legal representations to individuals wrongly convicted of crimes and to poor prisoners denied effective representation or a fair trial">
  </reading-keyword>
  found misdemeanors to make up 80% of all arrests in 2017.  These misdemeanors include minor offenses like turnstile jumping, shoplifting, and trespassing, and are referred to as “quality of life crimes,” as their prosecution is aimed more toward maintaining law and order than ensuring public safety. 
</p>

<p>
  The prosecution of even minor crimes extends to our system of parole or early release with community supervision.  Only about half of people on parole complete its terms successfully
   
   <reading-keyword
    text="(Brennan Center for Justice, 2018)."
    definition="The Brennan Center for Justice is a bipartisan law and policy institute at the New York University Law School">
  </reading-keyword>.
  This is because people on parole must comply with 18 to 20 requirements a day in order to remain in good standing.  These include paying supervision fees, meeting with a parole officer, submitting to drug testing, and attending specific programs (e.g., anger management).  Such requirements continue to treat people as criminals and stand as major barriers to individuals’ reintegration into society.
</p>
