<h1 class="has-text-centered">
  Sample Text
</h1>

<p>
This is a sample text, provided only for you to practice accessing hyperlinks and using the highlighting tools.  First, you are able to highlight information in this text.  You can highlight information by selecting a portion of text, and clicking the yellow or green highlighter buttons.  You are also able to select
 <reading-keyword
    text="key terms"

    definition="This is a sample definition for a key term">
  </reading-keyword>,
  in text to access their definitions.  In addition to selecting key terms, you can also select hyperlinked 
  <reading-keyword
    text="references"

    definition="This is a sample reference with source information">
  </reading-keyword>,
  to learn more about each organization providing the information included in each text.
</p>
