<h1 class="has-text-centered">
  Sample Text
</h1>

<p>
This is a sample text, provided only for you to practice accessing hyperlinks and using the highlighting tools.  
  First, you are able to highlight information in this text.  You can highlight information by selecting a portion of text, and clicking the yellow or green highlighter buttons.  After you select and highlight a portion of text, you can also add comments explaining your highlights.   
  
  You are also able to select hyperlinks in text to access more information 
   <reading-keyword
    text="[1]"

    definition="This is a sample hyperlink you can click on to learn more information">
  </reading-keyword>.
  
 You will see a number of hyperlinks included in each text
  <reading-keyword
    text="[2]"

    definition="This is some more information that you can access">
  </reading-keyword>.
</p>
