<h1>
</h1>

<p>
This is a sample text, provided only for you to practice accessing hyperlinks and using the highlighting tools.  First, you are able to highlight information in this text.  You can highlight information by selecting a portion of text, and clicking the yellow or green highlighter buttons.  You are also able to select
  key terms 
  in text to access their definitions.  In addition to selecting key terms, you can also select hyperlinked references to learn more about the organizations providing information, in each case.  
</p>
