<section class="hero is-fullheight is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1">
        Thank you
      </h1>
      <%= link_to "Next Participant", home_path, class: "button is-info is-inverted is-medium" %>
    </div>
  </div>
</section>
