<section class="hero is-fullheight is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1">
        Welcome!
      </h1>
      <h2 class="subtitle is-size-4">
        This is the second part of the study.
      </h2>

      <div class="pt-4">
        <%= link_to new_participant_path, class: "button is-info is-inverted is-large" do %>
          Get Started &rarr;
        <% end %>
      </div>
    </div>
  </div>
</section>
